.sm-hidden{
  display: none;
}

.md-hidden{}

.xl-hidden{}

.md-visible{
  display: none;
}
.lg-visible{
  display: none;
}
.xl-visible{
  display: none;
}





@media (min-width: 768px) {
  .md-hidden{
    display: none;
  }
  .md-visible{
    display: inherit;
  }
}
@media (min-width: 992px) {
  .lg-hidden{
    display: none;
  }
  .lg-visible{
    display: inherit;
  }
}
@media (min-width: 1100px) {
  .xl-hidden{
    display: none;
  }
  .xl-visible{
    display: inherit;
  }
}

:root div {
  color: red;
}


/* Because of Grommet I had to use CSS specificity to force media queries. 
In order to add media queries, add a span around the buttons in the nav bar */
@media screen and (max-width: 992px) {
    header span button  {
    /* color: blue; */
    display: none;
  }
}
